@inherits LayoutComponentBase

<Titlebar />

<div class="container">
    
    <NavMenu />

    <div>
        <div class="bg-light p-5 rounded">
            <div class="col-sm-8 mx-auto">
                @Body
            </div>
        </div>
    </div>
</div>